@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row text-center vh-60" style="background-color: white; color: black;">
        <div class="col-12">
            <h1 style="font-size: 3.5em; font-weight: bold; margin-top: 15%;">Welcome to Ultrasight</h1>
            <p style="font-size: 1.5em;">Your trusted partner for ultrasound imaging</p>
            <a href="#" class="btn btn-primary" style="font-size: 1em;">Make an Appointment</a>
        </div>
    </section>
</main>
